{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <h1>Account index</h1>
    <a href="{{ path('app_budget_index')}}">Back to budgets</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.type.value }}</td>
                <td>
                    <a href="{{ path('app_account_show', {'id': account.id}) }}">show</a> | 
                    <a href="{{ path('app_account_edit', {'id': account.id}) }}">edit</a> | 
                    <a href="{{ path('app_transaction_index', {'account_id': account.id}) }}">Transactions</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_account_new', {budget_id: budget.id }) }}">Create new</a>
{% endblock %}
