{% extends 'base.html.twig' %}

{% block title %}Payee index{% endblock %}

{% block body %}
    <h1>Payee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Auto Category</th>
                <th>Parent Payee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payee in payees %}
            <tr>
                <td>{{ payee.name }}</td>
                <td>{{ payee.autoCategory.name }}</td>
                <td>{% if payee.parentPayee %}{{ payee.parentPayee.name }}{% endif %}</td>
                <td>
                    <a href="{{ path('app_payee_edit', {'id': payee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_payee_new') }}">Create new</a>
{% endblock %}
