{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <form action="{{ path('app_login') }}" method="post">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" name="_username" value="{{ last_username }}"
                                       placeholder="name@example.com"/>
                                <label for="username">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="password" id="password" name="_password"
                                       placeholder="Password"/>
                                <label for="password">Password</label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="hidden" name="_target_path" value="{{ path('app_home') }}">
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="{{ path('app_login') }}">Forgot Password?</a>
                                <button class="btn btn-primary" type="submit">login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small"><a href="{{ path('app_register') }}">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
