{% extends 'base.html.twig' %}

{% block title %}{{ account.nickName }}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand">{{ account.nickName }}</div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-outline-success"
                           href="{{ path('app_account_transaction_new', { 'id': account.id }) }}">
                            <i class="bi bi-plus"></i>
                            Add Transaction
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <table class="table table-responsive table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Date</th>
            <th>Payee</th>
            <th>Category</th>
            <th>Memo</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions.members %}
            <tr>
                <td>{{ transaction.enteredDate|date("m/d/Y") }}</td>
                <td>{{ transaction.payee.name|u.truncate(50, '...') }}</td>
                <td>{{ transaction.category.name|u.truncate(50, '...') }}</td>
                <td>{{ transaction.memo|u.truncate(50, '...') }}</td>
                <td>{% if transaction.credit > 0 %}{{ transaction.creditCents|format_currency('USD') }}{% endif %}</td>
                <td>{% if transaction.debit > 0 %}{{ transaction.debitCents|format_currency('USD') }}{% endif %}</td>
                <td>--</td>
                <td>
                    <a href="{{ path('app_transaction_edit', {'id': transaction.id}) }}"><i class="bi bi-pencil"></i></a>
                    {{ include('transaction/_delete_form.twig.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if transactions.pages > 1 %}
        <div class="float-end">
            <twig:Pagination
                    currentPage="{{ transactions.page }}"
                    pageSize="{{ transactions.itemsPerPage }}"
                    maxPages="{{ transactions.pages }}"
                    baseUrlLink="{{ path('app_account_transaction_index', {'id': account.id}) }}"
            />
        </div>
    {% endif %}
{% endblock %}
