{% extends 'base.html.twig' %}
{% import '_table_helper.html.twig' as helper %}

{% block title %}{{ account.name|capitalize ~ " transactions" }}{% endblock %}

{% block body %}
    {% include '_page_header.html.twig' with {
        'back_path': path('app_account_index', {budget_id: account.budget.id}),
        'title': account.name|capitalize ~ " transactions",
        'new_path': path('app_transaction_new', {'account_id': account.id})
    } only %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>
                <a href="{{ path('app_transaction_index', {
                    ...app.request.query.all(),
                    account_id: account.id,
                    sortBy: 'entryDate',
                    sortDirection: sortBy == 'entryDate' and sortDirection == 'asc' ? 'desc' : 'asc',
                }) }}">
                    Entry Date {{ helper.sortArrow('entryDate', sortBy, sortDirection) }}
                </a>
            </th>
            <th>Category</th>
            <th>Payee</th>
            <th>Memo</th>
            <th>Amount</th>
            <th>
                <a href="{{ path('app_transaction_index', {
                    ...app.request.query.all(),
                    account_id: account.id,
                    sortBy: 'cleared',
                    sortDirection: sortBy == 'cleared' and sortDirection == 'asc' ? 'desc' : 'asc',
                }) }}">
                    Cleared {{ helper.sortArrow('cleared', sortBy, sortDirection) }}
                </a>
            </th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.entryDate|date('Y-m-d') }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.payee ? transaction.payee.name : '' }}</td>
                <td>{{ transaction.memo }}</td>
                <td>{{ transaction.amount}}</td>
                <td>{{ transaction.cleared ? 'Yes' : 'No' }}</td>
                <td class="d-flex">
                    {% include '_edit_button.html.twig' with { 'edit_path': path('app_transaction_edit', {'id': transaction.id})} %}
                    {{ include('transaction/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="float-end">
        {{  pagerfanta(transactions, 'twitter_bootstrap5') }}
    </div>
{% endblock %}
