<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Bliss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="container-fluid p-4 h-100">
    <%= yield %>

    <script>
      // Set theme to the user's preferred color scheme
      function updateTheme() {
        const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
          "dark" :
          "light";
        document.querySelector("html").setAttribute("data-bs-theme", colorMode);
      }

      // Set theme on load
      updateTheme()

      // Update theme when the preferred scheme changes
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
    </script>
  </body>
</html>
